[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
#Django = "==2.0.3"
Django = "==1.11"
djangorestframework = "*"
django-environ = "*"
django-extensions = "*"
Pillow = "*"
"psycopg2" = "*"
"psycopg2-binary" = "*"
django-redis = "*"
redis = "*"
requests = "*"
ipython = "*"
ptpython = "*"
gevent = "*"
gunicorn = "*"
django-anymail = "*"
raven = "*"
djangorestframework-filters = "*"
django-filter = "==1.1"
django-guardian = "*"
django-modeltranslation = "==0.13b1"
django-mptt = "*"
django-geoposition = "*"

[dev-packages]
Werkzeug = "*"
"flake8" = "*"
coverage = "*"
factory_boy = "*"
pytest = "*"
pytest-cov = "*"
pytest-sugar = "*"
pytest-django = "*"
django-test-plus = "*"

[requires]
python_version = "3.6"
