<!DOCTYPE html>

{% load static %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>StuffZilla</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#27a83b">
    <meta property="og:type" content="website">
    <meta property="og:title" content="StuffZilla">
    <meta property="og:site_name" content="StuffZilla">
    <meta property="og:url" content="https://stuffzilla.com">
    <meta property="og:description" content="Gobal merry-go-round for stuff that is waiting to be used, shared and enjoyed.">
    <meta name="description" content="Gobal merry-go-round for stuff that is waiting to be used, shared and enjoyed.">

    <!-- favicons for all devices. recommended generator: https://realfavicongenerator.net/ -->
    <meta property="og:image" content="{% static 'images/favicons/apple-touch-icon.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/favicons/manifest.json' %}">
    <link rel="mask-icon" href="{% static 'images/favicons/safari-pinned-tab.svg' %}" color="#27a83b">
    <meta name="apple-mobile-web-app-title" content="StuffZilla">
    <meta name="application-name" content="StuffZilla">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <!--
    Foundation CDN include
    FUCK WEBPACK!!!!!!!!!!
    -->
    <!-- Compressed CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.0-rc.2/dist/css/foundation.min.css" integrity="sha256-iJQ8dZac/jUYHxiEnZJsyVpKcdq2sQvdA7t02QFmp30= sha384-SplqNBo/0ZlvSdwrP/riIPDozO5ck8+yIm++KVqyMAC53S6m3BaV+2OLpi7ULOOh sha512-ho6hK4sAWdCeqopNZWNy1d9Ok2hzfTLQLcGSr8ZlRzDzh6tNHkVoqSl6wgLsqls3yazwiG9H9dBCtSfPuiLRCQ==" crossorigin="anonymous">

    <!-- Compressed JavaScript-->
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.0-rc.2/dist/js/foundation.min.js" integrity="sha256-G6jsRyH1fxbsvFIXSCuwYmI1aIDYBa28xscrvmYjJy0= sha384-vtoG68NvPc9azmFJr447vvY8qgdyA4FdaJ5/bqvzIM4eAdZfO0iyRRF8l2AAscYI sha512-43seCcNrHA0BQgrtyajB9sp8yOdv5c8QdYvgjP7zJ7v+dmzAcxYDQ2gupb9aztsNWBq1COIp/3NHYkQs4l/dkg==" crossorigin="anonymous"></script>

  </head>

  <body style="margin: 0">
    <p>
        {{ request.user }} <br>
        {{ request.LANGUAGE_CODE }} <br>
        {{ request.user.user_profile.language }}
    </p>
    <div id="sharezilla-main">

        <!-- CONTENT DIV -->
    </div>

  </body>

  {% if GOOGLE_ANALYTICS %}<script>var GOOGLE_ANALYTICS = "{{ GOOGLE_ANALYTICS }}"</script>{% endif %}

  <script>var SENTRY_PUBLIC_DSN = "{{ SENTRY_PUBLIC_DSN }}"</script>


      {% if DEBUG %}
          <script type="text/javascript" src="http://localhost:3000/staticfiles/dist/bundle.js"></script>
      {% else %}
          <script type="text/javascript" src="{% static 'dist/bundle.js' %}"></script>
      {% endif %}

</html>
